<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.haxe.extension.supersonic"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application android:hardwareAccelerated="true">
		<activity
		android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>
	
</manifest>
